body {
  background-color: #CCC;
  font-family: 'Anonymous Pro', sans-serif;
  overflow: hidden;
}

a {
  color: #05F;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#cr-stage {
  margin: auto;
  width: 920px;
  height: 768px;
  border: 1px solid black;
  background-color: white;
}

#legend {
  margin: auto;
  text-align: center;
  font-size: 10pt;
}
